/* Imports */
@import url('variables.css');




/* General styles */
body {
    margin: 0;
    padding: 0;
    min-height: 100vh; /* make sure footer is always at the bottom */

    display: grid;
    grid-template: 6rem 1fr 10rem / 1fr;
    grid-template-areas:
        "generalheader"
        "generalcontent"
        "generalfooter";
}

  /* about page */
    /* about page showcase */
    body {
      max-width: 100%;
    }

    #ab-showcase {
      display: block;
      margin: auto;
      max-width: 100%; 
      font-family: quicksand;
     }
     
     .about-h2 {
       font-size: 1.8rem;
       text-align: center;
       margin-bottom:3%;
       color: #50a5c7;
       font-weight: bold;
     }
     .about-h3{
       font-size: 1.5rem;
       text-align: center;
       margin-top: 0;
     }
     
     .about-text {
       margin: 10px;
     }
     
     .ab-showcase-img {
       width: 100%;
       min-height: 500px;
       background: url("../img/dogpic-new.jpg") no-repeat center center;
       background-size: cover;
       border-radius: 5px;
       }
    
        /* --------adoption process------------- */
      #about-features-2 {
        max-width: 100%;
        display: block;
        margin: auto;
      }
      
    .adoption-process li {
      list-style: none;
      color: #FDBA71;
      font-weight: bold;
      font-size: 1.3rem;
    }
    /* ----------previous cases ----------*/
    .case-left img {
      max-width: 100%;
    }
    .case-content p {
      margin: 20px;
    }  
    .previous-case {
      font-size: 1.3rem;
      color: #5b5b5b;
    }
    .case-name {
      font-style: italic;
      color:  #ff735a;
    }
        
    /* Tablet */
    @media (min-width: 768px) {
    
      .case-left img {
        width: 100%;
      }
      .case-content p {
        margin: 20px;
      }  
      .previous-case {
        font-size: 1.3rem;
        color: #5b5b5b;
      }
      .case-name {
        font-style: italic;
        color:  #ff735a;
      }
    }
    
    
  

    /* Desktop */
    @media (min-width: 992px) {
      main {
        max-width: 1200px;
        margin: 0 auto;
    }

      #ab-showcase {
        display: block;
        margin: auto;
        max-width: 100%; 
        font-family: quicksand;
        max-width: 1000px;
        margin: auto;
      }

    #about-features-3 {
      width: 100%;
      min-height: 70vh;
      display: grid;
      place-items: center;
      }
      
      .about-wrapper-1{
        width: 80%;
        max-width: 1000px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 20px 0;
      }
      .about-wrapper-2 {
        width: 80%;
        max-width: 1000px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 20px;
      }
      
      .about-wrapper-1 .case-left {
        overflow:hidden;
      }
      
      .about-wrapper-1 .case-left img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        max-width: 320px;
        border-radius: 5px;
        max-height: 200px;
      }
      .about-wrapper-1 .case-right {
      display: flex;
      align-items: center;
      }
      .case-content {
        color:#0d4249;
        font-weight: bold;
        font-size: 1.3rem;
        padding: 0px 10px;
      }
      .case-right p {
        font-size: 1rem;
        color: #5b5b5b;
      }
      .previous-case {
        font-size: 1.3rem;
        color: #5b5b5b;
      }
      .case-name {
        font-style: italic;
        color:  #ff735a;
      }
      .about-wrapper-2 .case-left {
    overflow: hidden;
      }
      .about-wrapper-2 .case-left img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      max-width: 320px;
      border-radius: 5px;
      max-height: 200px;
    }
   }  




