form input, .gender-input, #dog-gallary-container, h3, b {
    color: var(--secondary-color);
}

.bold-word, .info-dog-link {
    color: var(--accent-color);
    font-weight: bold;
}

.age-container, .breed-container, .gender-container {
    display: flex;
    justify-content: center;
    padding-top: 16px;
}

#search-container2 {
    display: none;
}

form input {
    width: 65%;
}

.gender-input {
    width: 71%;
}

form input, .gender-input, form button {
    border: 1px solid black;
    font-size: 17px;
    padding: 10px;
    float: left;
}

.age-input, .breed-input, .gender-input {
    border-radius: 12px 0px 0px 12px;
}

form button {
    width: 15%;
    background: var(--accent-color);
    color: var(--text-color);
    border-left: none; 
    border-radius: 0px 12px 12px 0px;
    cursor: pointer;
}

form button:hover, .info-dog-link:hover {
    background: var(--secondary-color);
    color: var(--secondary-text-color);
}

#dog-gallary-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px 20px;
    padding: 20px 0;
    align-items: center;
}

#dog-gallary-container img, .dog-gallary, .info-dog-link {
    border-radius: var(--default-border-radius);
}

#dog-gallary-container img {
    max-width: 100%;
}

.dog-gallary {
    background-color: var(--lightblue);
    border: 2px solid var(--secondary-color);
    min-height: 400px;
    max-width: 350px;
    text-align: center;
    padding: 16px 16px;
}

.dog-info {
    padding: 16px;
    text-align: left;
}

.info-dog-link {
    text-decoration: none;
    padding: 5px 15px;
}




/* Tablet */
@media (min-width: 768px) {
    #search-container1 {
        display: none;
    }

    #search-container2 {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding-top: 20px;
}

    #search-dog {
        width: 80%;
    }

   .btn-1, .btn-2 {
        display: none;
    }

    .age-input {
        width: 15%;
    }

    .breed-input, .gender-input {
        width: 32%;
    }

    .breed-input, .gender-input {
        border-radius: 0;
    }

    .breed-input {
        border-left: none;
        border-right: none;
    }

    .btn-3 {
        width: 12%;
    }
}


/* Desktop */
@media (min-width: 992px) {
    #search-container2 {
        background-image: url(../img/autumn-4470022_1280.jpg);
        min-height: 300px;
        background-size: cover;
        width: 100%;
    }
}