/* General styles */
body {
    margin: 0;
    padding: 0;
    min-height: 100vh; /* make sure footer is always at the even if the page is less than screen height */

    display: grid;
    grid-template: 5rem 1fr 10rem / 1fr;
    grid-template-areas:
        "generalheader"
        "generalcontent"
        "generalfooter";
}

header {
    grid-area: generalheader;
    background: darkturquoise;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}

#logoimg {
    max-width: 100px;
}

.dropdown-btn {
    background-color: darkturquoise;
    padding: 16px;
    font-size: 20px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100vw;
    right: -10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {background-color: #f1f1f1}

  .dropdown:hover .dropdown-btn {
    background-color: #3e8e41;
  }

main {
    grid-area: generalcontent;
    background: beige;
}

footer {
    grid-area: generalfooter;
    background: navy;
    
}

.maxwidth {
    max-width: 1000px; /* TODO: Adjust max-width */
    margin-left: auto;
    margin-right: auto;
    background: red;
}

.footer-content {
    background-color: navy;
    color: white;
    display: flex;
    flex-wrap: wrap;
    
    
    

}

.footer-content > section{
    border: solid 1px black;
    width: 100%;
    
}

.copyright{
    display: flex;
    justify-content: center;

}


 

/* Tablet */
 @media (min-width: 800px) {
    .footer-content {
        display: flex;
        flex-wrap: nowrap;
        flex-direction:row-reverse;
        

    }

    .copyright {
        flex-wrap: nowrap;
    }
    
 }
/* Desktop */
/*@media (min-width: TODO) {
    TODO
}*/