/* Imports */
@import url('variables.css');




/* General styles */
body {
    margin: 0;
    padding: 0;
    min-height: 100vh; /* make sure footer is always at the bottom */
    font-family: var(--default-font-family);

    display: grid;
    grid-template: 6rem 1fr 10rem / 1fr;
    grid-template-areas:
        "generalheader"
        "generalcontent"
        "generalfooter";
}

header, .dropdown-btn, .dropdown-content, .dropdown:hover .dropdown-btn, footer, .footer-content, .copyright, .footer-logo {
    background-color: #50a5c7;
}

.footer-content, .copyright, .icons i, .header-navbar-item a {
    color: #0d4249;
}

.dropdown-content a, .footer-content, .copyright, .header-navbar-list, .donate-btn {
    font-family: Quicksand;
}

header {
    grid-area: generalheader;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    height: 6rem;
    z-index: 1;
}

#logoimg {
    max-width: 125px;
}

.donate-btn {
    display: none;
}

.header-navbar {
    display: none;
}

.dropdown-btn {
    padding: 20px;
    font-size: 30px;
    border: none;
    cursor: pointer;
  }
  
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 85px;
    min-width: 100vw;
    right: 0px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 35px;
    text-decoration: none;
    display: block;
    font-weight: bold;
}

.dropdown-content a:hover {background-color: #f3f1ec}

main {
    grid-area: generalcontent;
}

footer {
    grid-area: generalfooter;    
}

.maxwidth {
    max-width: 1000px; /* TODO: Adjust max-width */
    margin-left: auto;
    margin-right: auto;
}

.footer-content {
    flex-wrap: wrap;
    text-align: center;
    margin-top: 5px;
}

.footer-content > section {
    width: 100%;
    border-bottom: 1px solid #0d4249;
    padding: 1rem 0 2rem;
}

.footer-content > section :last-child {
    margin-bottom: 0;
}

.copyright {
    display: flex;
    justify-content: center;
}

.icons i {
    margin:30px;
    margin-bottom: 25px;
    font-size: 40px;
}

.footer-logo img {
    max-width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}




/* Tablet */
 @media (min-width: 768px) {
    .donate-btn {
        display: inline;
        border: 2px solid #0d4249;
        background-color: #ff735a;
        font-size: 20px;
        font-weight: bold;
        padding: 10px 10px;
        border-radius: 12px;
        color: black;
        text-decoration: none;
        margin: 20px;
    }
    
    .footer-content {
        display: flex;
        flex-wrap: nowrap;
        flex-direction:row-reverse;
    }

    .footer-content > section {
        border: none;
    }

    .icons i {
        margin:20px;
        margin-bottom: 25px;
        font-size: 40px;
    }
 }




/* Desktop */
@media (min-width: 992px) {
    .dropdown {
        display: none;
    }

    .header-navbar {
        display: block;
    }

    .header-navbar-list {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        font-size: 20px;
        font-weight: bold;
    }

    .header-navbar-item {
        display: inline;
    }

    .header-navbar-item a {
        text-align: center;
        padding: 10px 15px;
        text-decoration: none;
    }

    .header-navbar-item a:hover, .header-navbar-item a:active {
        background-color: #0d4249;
        color: #f3f1ec;
        padding: 5px 15px;
        border-radius: 12px;
    }
}