
@import url(variables.css);

* {
    box-sizing: border-box;
    font-family: quicksand;
  }
/* CSS for first section of frontpage */

.section-first, .content-first, .selection-text, .content-third, .box1, .box2, .section-sec
, .mission-box, .article-parent{

    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;

}

.section-first{
/* CSS for background image */
    background-image: url(../img/Frontpage-dog-small.jpg);
    background-size: cover;
    width: 100%;

    padding-top: 100px;
    padding-bottom: 100px;
    
}    

.content-first{
    width: 100%;
} 

.content-second{
    padding: 50px;
    width: 100%;
}


.selection-text{
    
    font-size: 29px;
    text-shadow: 3px 3px 8px var(--secondary-text-color);
    
    justify-content: top;
    
    
}

.mission-box{
    color: var(--secondary-text-color);
}


/* CSS for formuläret */
.form-parent{
    
    height: 100px;
    width: 80%;}
    
    /* Style the search field */
    form input[type=text] {
        padding: 10px;
        font-size: 17px;
        border: 1px solid black;
        border-radius: 12px 0px 0px 12px ;
        float: left;
        width: 80%;
        background: white
    }
    
    /* Style the submit button */
    form button {
        float: left;
        width: 20%;
        padding: 10px;
        background: var(--accent-color);
        color: black;
        font-size: 17px;
        border: 1px solid black;
        border-left: none; 
        border-radius: 0px 12px 12px 0px;
        cursor: pointer;
    }
    
    form button:hover {
        background: var(--lightblue);
    }
    
    /* Clear floats */
    form::after {
        content: "";
        clear: both;
        display: table;
    }
    
    /* CSS for boxes (Adult dogs and puppies) */
    
    .content-third{  
        flex-flow: row wrap; 
        
        height: 250px;
        width: 100%
        
    }
    .box1,.box2{
    
    border: solid 3px var(--main-color);
    border-radius: var(--default-border-radius);
    background-color: var(--main-color);
    opacity: .8;
    margin-left: 25px;
    margin-right: 25px;
    
    box-shadow: 4px 6px #999;
    
    width: 300px;
    height: 100px;
}
.box1:active, .box2:active{
    box-shadow: 1px 2px #666;
    transform: translateY(4px);
}

/* Css for Our mission / about us */
.section-sec{
    background-color: var(--secondary-color);
    
    padding-bottom: 10px;
    
    justify-content: top;
}


.learn-more-btn{
    font-weight: bold;
    color: var(--accent-color);
}


.mission-heading{
    color: var(--accent-color);
    font-weight: bolder;    
}
.article-text{
    
    font-size: large;
    margin-bottom: 40px;
    padding: 5px 5px 20px 20px;
    width: 90% ;
}

/* Third section */
.section-third{ 
    display: none;
}

.content-third-heading{
    display: flex;
    justify-content: center;
    color: var(black);
    font-size: x-large;
    
}
.content-sec-third{
    padding-bottom: 30px;
}

#dog-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        gap: 20px 20px;
        padding: 20px 0px;
        align-items: center;
        max-width: 1600px;
        font-family: quicksand;
}

#dog-container img {
    max-width: 300px;}

.dog-info {
        background-color: var(--lightblue);
        border: 2px solid var(--secondary-color);
        min-height: 400px;
        width: 310px;
        text-align: center;
        padding-top: 10px;
        border-radius: var(--default-border-radius);}
.dog-info p{
    font-weight: bold;
}
.dog-info a{
    color: var(--text-colour);
}

.dog-info img{
    width: 290px;
    object-fit: contain;
    border-radius: var(--default-border-radius);
    margin: 5px; 
}
.dog-link{
    margin: 5px;
    text-decoration: none;
}
.dog-link:hover{
    color: var(--hover-colour);
}

.dog-link-head{
    font-weight: bolder;
    font-size: 20px;
}

.bold-word{
    font-weight: bold;
    color: var(--accent-color);
}

.dog-info-text{
    padding: 5px;
    margin-bottom: 5px;
}



  /* Media queries */
  /* Tablet */
 @media (min-width: 768px){
    
    .section-first{
        background-image: url(../img/Frontpage-dog-medium.jpg);

    }
    .selection-text{
        font-size: 40px;
    }

    .form-parent{
    
        height: 100px;
        width: 70%;
    } 
    .section-third{
        display: block;
    }
    #dog-container > .dog-info:nth-child(3){
        display: none;
    }

 }
    /* Desktop */
    @media (min-width: 992px) {
 
    .section-first{
        background-image: url(../img/Frontpage-dog-large.jpg);
    }

    .selection-text{
        font-size: 50px;
    }

    
    .form-parent{
    
        height: 100px;
        width: 50%;}

    .box1:hover,.box2:hover{
        background-color:  var(--lightblue)
        }

    .box1,.box2{
        box-shadow: none;
    }
    .box1:active,.box1:active{
        box-shadow: none;
    }

    .article-text{
        width: 80%;
        padding: 0px;
        
    }
     .section-third {
        display: flex;
        justify-content: center;
    
    }

     #dog-container >.dog-info:nth-child(3){
        display: block;} 

    .learn-more-btn:hover{
        color: var( --lightblue);
    }

    }