/* @import url('variables.css'); */
/* @import url('general.css') */

main * {
    box-sizing: border-box;
}



.container {
    font-family: 'quicksand';
   
    color:#0d4249;
}

.ourvision-section, #donate-section, .happy-stories-section {
    text-align: center;
    background-color: lightblue;
    border: 2px solid #0d4249;
    padding-top: 10px;
    border-radius: 12px;
    margin: 20px;

}

.ourvision-section img {
    max-width: 100%;
    height: 100%;
    border-radius: 12px;
    object-fit: cover;
}

.donate-section img {
    width: 100%;
    height: auto;
    border-radius: 12px;

}

.section2-pic {
    display: none;
}

.section-1, .section-2 {

    display: flex;
    flex-direction: column-reverse;
    margin: 10px;
} 

.section1-text, .section1-pic, .section2-text, .section2-pic {
    
    min-width: 100px;
    /* border: 1px solid #000; */
}

.section1-text, .section2-text {
    text-align: center;
}   
    

.dog-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.dog-boxes img {
    max-width: 300px;
    height: auto;
    border-radius: 12px;
}


#donate-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.donating-form {
    /* border: 1px solid #0d4249; */
    font-family: 'quicksand';
    margin: 10px;
    border-radius: 12px;
    width: 100%;
    
}

form button {
    width: 20%;
    padding: 10px;
    background: #ff735a;
    font-size: 17px;
    border: 1px solid black; 
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
}

form {
    font-family: 'quicksand';
}

input, select {

    width: 80%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #333;
}


@media screen and (min-width: 768px) {

    .section-1, .section-2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
    }

    .section2-pic {
        display: block;
    }

}

@media screen and (min-width:880px) {
    #donate-section {
        width: 50%;
        
    }
    
}

@media screen and (min-width:992px) {



}