@import url('variables.css');
/* @import url('general.css') */

main * {
    box-sizing: border-box;
}

.container {
    font-family: var (--default-font-family);
    color: var(--text-color);
    
}

.ourvision-section, .happy-stories-section, #donate-section-container {
   
    background-color: var(--lightblue);
    border: 2px solid #0d4249;
    border-radius: 12px;
    margin: 20px;
    padding: 20px;

}

.happy-stories-section, #donate-section-container { 
    text-align: center;

}

#donate-section-container {
    scroll-margin-top: 6.9rem;

}


.donate-section, .donate-text-section {
    text-align: center;
    padding-top: 10px;
    border-radius: 12px;
    margin: 20px;
}

.ourvision-section img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.section2-pic, .donate-text-section {
    display: none;
}

.section-1, .section-2 {

    display: flex;
    flex-direction: column-reverse;
    margin: 20px;
} 



.section1-text, .section2-text {
    text-align: center;
}   
    

.dog-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.dog-boxes img {
    max-width: 300px;
    height: auto;
    border-radius: 12px;
}

form button {
    width: 30%;
    padding: 10px;
    background: var(--accent-color);
    font-size: 17px;
    border: 2px solid var(--text-color); 
    border-radius: 12px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}

  input, select {

    width: 80%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #333;
}

@media screen and (min-width: 820px) {

     .section-2, .section-1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
    }

    .section2-pic {
        display: block;
    }

    #donate-section-container {
        display: flex;
    }

    .donate-section {
        flex: 1;
    }

    .donate-text-section {
        display:block;
        flex: 1;
        margin: 20px;
        padding: 20px;
        
    }

        
    .more-info-text{
        display: none;
    }


}

@media screen and (min-width:992px) {


    .container {
        
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
        
    }

}


@media screen and (min-width:1200px) {


    .more-info-text {
        display: block;
        margin: 0;
        padding: 0;
    }

    .container {
        
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
        
    }

}