@import url('variables.css');
@import url('general.css')

.wrapper {
    font-family:'quicksand';
    
}

.ourvision-section {
    text-align: center;
    background-color: #f3f1ec;
    border: 2px solid #0d4249;
    padding-top: 10px;
    border-radius: 12px;
    margin-bottom: 20px;

}

.ourvision-section img {
    max-width: 300px;
    height: auto;
    border-radius: 12px;
}

.section-1, .section-2 {
    display: grid;
    grid-template-columns: 1;
    grid-gap: 30px;
}

.section1-text, .section1-pic, .section2-text, .section2-pic {
    
    min-width: 100px;
    border: 1px solid #000;
}

.section1-text, .section2-text {
    text-align: center;
}   

.happy-stories-section {
    
    text-align: center;
    background-color: #f3f1ec;
    border: 2px solid #0d4249;
    padding-top: 10px;
    border-radius: 12px;
}

.dog-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.dog-boxes img {
    max-width: 300px;
    height: auto;
    border-radius: 12px;
}


@media screen and (min-width: 768px) {

    .section-1, .section-2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
    }

}