/* CSS Variables */

/* General Colors */
:root {
    --main-color: #50a5c7;
    --secondary-color: #0d4249;
    --accent-color: #ff735a;
    --text-color: #333;
    --secondary-text-color: #f3f1ec;
    --lightblue: lightblue;
    --valid: green;
}

/* Distances and shapes */
:root {
    --default-border-radius: 12px;
}

/* Font styling */
:root {
    --default-font-family: Quicksand, sans-serif;
}