/* CSS Variables */

/* General Colours */
:root{
    --main-colour: #50a5c7;
    --secondary-colour: #000080; 
    --hover-colour: #f3f1ec;
    --donate-btn-colour: #ff735a;
    --text-colour: #333;
    --secondary-text-colour: #333;

}

