/* CSS Variables */

/* General Colours */
:root {
    --main-colour: #50a5c7;
    --secondary-colour: #000080; 
    --hover-colour: #f3f1ec;
    --btn-colour-one: #ff735a;
    --text-colour: #333;
    --secondary-text-colour: #333;

    --darkblue: #0d4249;
    --lightblue: #c3d9d8;
}

/* Distances and shapes */
:root {
    --default-border-radius: 15px;
}

/* Font styling */
:root {
    --default-font-family: Quicksand, sans-serif;
}